@font-face {
    font-family: "Exo 2";
    src: url("../Exo2-Regular.otf");
}

body {
    font-family: "Exo 2", "Verdana", sans-serif;
}

p {
    display: inline-block;
}

.settings {
    border: 1px solid black;
    padding: 10 20;
}

.settings>*,
#params>* {
    margin: 5px;
}

#params {
    margin: 0;
}

select {
    width: 200px;
}

#methods {
    height: 105px;
    vertical-align: middle;
}

.stat {
    display: inline-block;
}